

<div class="col-lg-8">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <mat-card-title>Top Projects</mat-card-title>
        <div class="table-responsive m-t-16">
          <table mat-table [dataSource]="dataSource" class="w-100">
            <!-- id foyer  Column -->
            <ng-container matColumnDef="id">
              <th
                mat-header-cell
                *matHeaderCellDef
                class="f-w-600 mat-subtitle-1 f-s-14"
              >
              identifiant foyer
              </th>
              <td mat-cell *matCellDef="let element">
                <div class="d-flex align-items-center">
                 
                  <div class="m-l-16">
                    <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                      {{ element.idUniversite }}
                    </h6>
               
                  </div>
                </div>
              </td>
            </ng-container>

            <!-- nom foyer Column -->
            <ng-container matColumnDef="nom universite">
              <th
                mat-header-cell
                *matHeaderCellDef
                class="f-w-600 mat-subtitle-1 f-s-14"
              >
              nom du Foyer
              </th>
              <td mat-cell *matCellDef="let element" class="mat-body-1">
                {{ element.nomUniversite }}
              </td>
            </ng-container>

            <!-- capacite Column -->
            <ng-container matColumnDef="adresse">
              <th
                mat-header-cell
                *matHeaderCellDef
                class="f-w-600 mat-subtitle-1 f-s-14"
              >
              capacite du foyer
              </th>
              <td mat-cell *matCellDef="let element" class="mat-body-1">
                {{ element.adresse }}
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                Actions
              </th>
              <td mat-cell *matCellDef="let element" class="mat-body-1">
                <!-- Add a button to trigger the delete function -->
                <button mat-icon-button color="warn" (click)="onDeleteButtonClick(element.idUniversite)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            
            <ng-container matColumnDef="update">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                update
              </th>
              <td mat-cell *matCellDef="let element" class="mat-body-1">
                <!-- Add a button to trigger the delete function -->
                <button type="button" (click)="navigateToUpdatePage(element.idUniversite)" class="btn btn-danger">
                  <mat-icon style="color: green;">verified_user</mat-icon>
                </button>
              </td>
            </ng-container>

            <!-- capacite indicator Column -->
            

            

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>